.sidebar.well
  %span.header Edit Histories
  - form_tag url_for(:codes, :show_diff, :id => @id), :method => 'get' do
    .commit-log
      - @commits.each_with_index do |commit, index|
        .row{:class => "#{@commit == commit.sha[0..7] ? 'current' : ''}"}
          .span0_5= (index == @commits.size - 1 ? "&nbsp" : radio_button_tag("after", :value => commit.sha, :checked => index == 0))
          .span0_5= (index == 0 ? "&nbsp" : radio_button_tag("before", :value => commit.sha, :checked => index == 1))
          .span1.commit-log-rev= link_to commit.sha[0..7], url_for(:codes, :show_snippet, :id => @id, :commit => commit.sha[0..7])
          .span2.commit-log-date= commit.date.strftime("%Y-%m-%d")
    .row{:style => 'text-align:right'}
      = submit_tag 'Diff', {:class => 'btn primary'}
