.container
  .container-fluid
    = partial("codes/logs")

    .content.well
      - form_tag url_for(:codes, :edit, :id => @id), :method => 'post' do
        .row
          .span2.text= t(:name) + ":"
          .span8= text_field_tag('file_name', :value => @snippet.file_name, :placeholder => t(:snippet_name), :required => :required)
        .row
          .span2.text= t(:description) + ":"
          .span8= text_field_tag('description', {:value => @snippet.description, :style => 'width:80%', :placeholder => t(:description)})
        - unless @snippet.updated_at.blank?
          .row
            .span2.text= t(:updated_at) + ":"
            .span8.text
              = @snippet.updated_at.strftime(t(:date_format))
        .row
          .span10{:style=>'margin-top:10px;'}~ text_area_tag('content', :value => @snippet.content, :class => 'edit-text', :id => 'code')
        .row
          .span10{:style => 'text-align:right'}= submit_tag t(:update), {:class => 'btn primary'}
      .row
        .span15
          %a{:href => url_for(:codes, :index)}= t(:back_to_index)

    - if @id
      .content.well
        .download
          %a{:href => url_for(:codes, :download, :id => @id), :class => 'btn primary'}= t(:download_content)
        %h4 API
        %dl
          %dt Raw URL
          %dd= link_to url_for_with_host(:"api/v1/snippets", :index, {:id => @id}), url_for_with_host(:"api/v1/snippets", :index, {:id => @id})
          %dt JSON API URL
          %dd= link_to url_for_with_host(:"api/v1/snippets", :index, {:id => @id}) + ".json", url_for_with_host(:"api/v1/snippets", :index, {:id => @id}) + ".json"
          %dt Embedded HTML URL
          %dd= link_to url_for_with_host(:"api/v1/snippets", :index, {:id => @id}) + ".html", url_for_with_host(:"api/v1/snippets", :index, {:id => @id}) + ".html"

      .content.well
        - form_tag url_for(:codes, :delete, :id => @id), :method => 'post' do
          = submit_tag t(:delete), {:class => 'btn danger', :onclick => "return confirm('Are you sure?')"}

= javascript_include_tag "codemirror/mode/" + @snippet.mode + "/" + @snippet.mode if @snippet.mode
:javascript
    var editor = CodeMirror.fromTextArea(document.getElementById("code"), {lineNumbers : true
                                     #{@snippet.mime ? ",mode:'" + @snippet.mime + "'" : ""}
                                                                          });

