.container
  .container-fluid
    = partial("codes/logs")

    .content.well
      - form_tag url_for(:codes, :edit, :id => @id), :method => 'post' do
        .row
          .span2.text Name:
          .span8= text_field_tag('file_name', :value => @snippet.file_name)
        .row
          .span2.text Updated at:
          .span8.text
            = @snippet.updated_at.blank? ? '' : @snippet.updated_at.strftime("%Y-%m-%d %H:%M:%S")
        .row
          .span2.text Description:
          .span8= text_field_tag('description', {:value => @snippet.description, :style => 'width:80%'})
        .row
          .span10{:style=>'margin-top:10px;'}~ text_area_tag('content', :value => @content, :class => 'edit-text', :id => 'code')
        .row
          .span10{:style => 'text-align:right'}= submit_tag 'save', {:class => 'btn primary'}
      .row
        .span15
          %a{:href => url_for(:codes, :index)} Back to index

= javascript_include_tag "codemirror/mode/" + @mode + "/" + @mode if @mode
:javascript
    var editor = CodeMirror.fromTextArea(document.getElementById("code"), {lineNumbers : true});

