.container
  .container-fluid
    = partial("codes/logs")

    .content.well
      %h3
        %span= @snippet.file_name
        %span{:style => 'font-size: 0.8em;color: #ccc;'}=" (#{@commit})"
      .row
        .span2.text Updated at:
        .span8.text= @snippet.updated_at.strftime("%Y-%m-%d %H:%M:%S")
      .row
        .span2.text Description:
        .span8.text= @snippet.description
      .row
        .span10{:style=>'margin-top:10px;'}~ text_area_tag('content', :value => @snippet.content, :class => 'edit-text', :id => 'code')
      .row
        .span15
          %a{:href => url_for(:codes, :edit, :id => @id)} Back to Edit

= javascript_include_tag "codemirror/mode/" + @snippet.mode + "/" + @snippet.mode if @snippet.mode
:javascript
    var editor = CodeMirror.fromTextArea(document.getElementById("code"), {lineNumbers : true, readOnly : true});
