= stylesheet_link_tag 'diff'
.container
  .container-fluid
    = partial("codes/logs")

    .content.well
      %h4
        Revision
        = @diff.to[0..7] + ':' + @diff.from[0..7]
      %textarea#code{:name => 'code'}= @diff.patch.split(/\r?\n/)[4..-1].join("\n")
      .row
        .span15
          %a{:href => url_for(:codes, :edit, :id => @id)} Back to File

= javascript_include_tag 'codemirror/mode/diff/diff'
:javascript
  var editor = CodeMirror.fromTextArea(document.getElementById("code"), {readOnly : true});
