.container
  .container-fluid
    .sidebar.well
      %span.header Edit History
      - form_tag url_for(:codes, :show_diff, :repid => @id), :method => 'get' do
        %table
          - @commits.each_with_index do |commit, index|
            .row{:class => (commit.sha[0..7] == @commit ? 'current' : '')}
              .span0_5= (index == @commits.size - 1 ? "&nbsp" : radio_button_tag("after", :value => commit.sha, :checked => index == 0))
              .span0_5= (index == 0 ? "&nbsp" : radio_button_tag("before", :value => commit.sha, :checked => index == 1))
              .span1
                %a{:href => url_for(:codes, :show_snippet, :id => @id, :commit => commit.sha[0..7])}= commit.sha[0..7]
              .span2= commit.date.strftime("%Y-%m-%d")
        .row
          .span3{:style => 'text-align:right'}= submit_tag 'diff', {:class => 'btn primary'}

    .content.well
      %h3{:style => 'border-bottom: 2px solid #ddd'}
        %span= @snippet.file_name
        %span{:style => 'font-size: 0.8em;color: #ccc;'}=" (#{@commit})"
      .row
        .span2{:style => 'padding-top: 5px;padding-bottom: 5px;'} Updated at:
        .span8{:style => 'padding-top: 5px;padding-bottom: 5px;'}= @snippet.updated_at.strftime("%Y-%m-%d")
      .row
        .span2{:style => 'padding-top: 5px;padding-bottom: 5px;'} Description:
        .span8{:style => 'padding-top: 5px;padding-bottom: 5px;'}= @snippet.description
      .row
        .span10{:style=>'margin-top:10px;'}~ text_area_tag('content', :value => @content, :class => 'edit-text', :id => 'code')
      .row
        .span15
          %a{:href => url_for(:codes, :edit, :id => @id)} Back to edit

= javascript_include_tag "codemirror/mode/" + @mode + "/" + @mode if @mode
:javascript
    var editor = CodeMirror.fromTextArea(document.getElementById("code"), {lineNumbers : true, readOnly : true});
