.container
  .container-fluid
    = partial("codes/logs")

    .content.well
      %h3{:style => 'border-bottom: 2px solid #ddd'}
        %span= @snippet.file_name
        %span{:style => 'font-size: 0.8em;color: #ccc;'}=" (#{@commit})"
      .row
        .span2{:style => 'padding-top: 5px;padding-bottom: 5px;'} Updated at:
        .span8{:style => 'padding-top: 5px;padding-bottom: 5px;'}= @snippet.updated_at.strftime("%Y-%m-%d")
      .row
        .span2{:style => 'padding-top: 5px;padding-bottom: 5px;'} Description:
        .span8{:style => 'padding-top: 5px;padding-bottom: 5px;'}= @snippet.description
      .row
        .span10{:style=>'margin-top:10px;'}~ text_area_tag('content', :value => @content, :class => 'edit-text', :id => 'code')
      .row
        .span15
          %a{:href => url_for(:codes, :edit, :id => @id)} Back to edit

= javascript_include_tag "codemirror/mode/" + @mode + "/" + @mode if @mode
:javascript
    var editor = CodeMirror.fromTextArea(document.getElementById("code"), {lineNumbers : true, readOnly : true});
