.container
  .well
    %h3= t(:about_debeso)
    %p debeso is an application to manage code snippets.
    %p
      This application is inspired by
      = link_to("Gist", "https://gist.github.com/")
      and
      = link_to("Heso", "https://github.com/lanius/heso/") + "."

    .box
      %h4 Features
      %ul
        %li Easy Installtion
        %li Version Control
        %li Search
        %li Syntax Highlights

    .box
      %h4 Author
      %ul
        %li= link_to "@suer", "http://twitter.com/suer"
        %li= link_to "@mallowlabs", "http://twitter.com/mallowlabs"

    .box
      %h4 License
      %p The MIT License (MIT) Copyright (c) 2011 codefirst.org
      %p
        Fork me! from
        = link_to "GitHub", "https://github.com/codefirst/debeso"
      %p debeso depends on below software:
      %ul
        %li
          = link_to("Twitter Bootstrap", "http://twitter.github.com/bootstrap/") + " -"
          Apache License 2.0
        %li
          = link_to("CodeMirror", "http://codemirror.net/") + " -"
          The MIT-style License

