!!! Strict
%html
  %head
    %title= [@title, "debeso"].compact.join(" | ")
    = stylesheet_link_tag 'bootstrap.min', 'application'
    = yield_content :include
    = javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js'

%header
  .container
    .row
      .span1
        =image_tag 'x.png'
      .span15
        %h1
          =link_to 'debeso', url_for(:codes, :index)
        %p.lead Share your code snippets easily.

%body
  .container
    = yield

.container
  %footer Copyright (C) 2011 codefirst.org. All rights reserved.
