!!! Strict
%html
  %head
    %meta{:content=>'text/thml; charset=utf-8', 'http-equiv'=>'content'}
    = stylesheet_link_tag 'bootstrap.min', 'codemirror', 'codemirror/theme/default', 'application'
    = yield_content :include
    = javascript_include_tag 'jquery', 'codemirror', 'application'
    = favicon_tag 'favicon.ico'
    %title= [@title, "debeso"].compact.join(" | ")

.topbar
  .topbar-inner
    .container
      = link_to "debeso", url_for(:codes, :index), {:class => :brand}
      %ul.nav
        %li.active=link_to "Home", url_for(:codes, :index)
        %li=link_to "About"#, url_for(:about, :index)
      =form_tag url_for(:codes, :search), {:method => :get, :class => 'pull-right'} do |f|
        = text_field_tag 'search_key', :placeholder=>"Search", :value => @search_key

%body
  = yield

.container
  %footer
    Copyright (C) 2011
    = link_to("codefirst.org", "http://codefirst.org/") + "."
    All rights reserved.
