!!! Strict
%html
  %head
    %title= [@title, "debeso"].compact.join(" | ")
    = stylesheet_link_tag 'bootstrap.min', 'application'
    = yield_content :include
    = javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js'

.topbar
  .topbar-inner
    .container
      = link_to "debeso", url_for(:codes, :index), {:class => :brand}
      %ul.nav
        %li.active=link_to "Home", url_for(:codes, :index)
        %li=link_to "About"#, url_for(:about, :index)
      =form_for Snippet.new, '/codes/search', {:class => 'pull-right'} do |f| #url_for(:codes, :search)
        =f.text_field :code, {:placeholder=>"Search"}

%body
  = yield

.container
  %footer Copyright (C) 2011 codefirst.org. All rights reserved.
